<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drugmall.mapper.StorePromiseMapper">

    <select id="selectByStoreId" resultType="com.drugmall.entity.StorePromise">
        SELECT * FROM dm_store_promise
        WHERE store_id = #{storeId} AND status = 1
        ORDER BY sort_order ASC
    </select>

</mapper>
